<h1>Greenwich Vietnam</h1>

<ul>
   <li>
      <a href="/hanoi">Ha Noi campus</a>
   </li>
   <li>
      <a href="/hochiminh">Ho Chi Minh campus</a>
   </li>
   <li>
      <a href="/danang">Da Nang campus</a>
   </li>
   <li>
      <a href="/cantho">Can Tho campus</a>
   </li>
</ul>